<% unless user_signed_in? %> 

	<div class="hero-unit">
			<h1>Welcome to StanceShare!</h1>
			<h2>Connect. Share. Discover.</h2>

			<h4>
				share your passion and connect with gearheads who have many car parts to share.
			</h4>
			<h4>
				Discover new car parts you never thought of using, pin them, and discuss with fellow gearheads who share the same passion as you.
			</h4>
			<p>
					<%= link_to 'Sign Up Now!', new_user_registration_path, class: 'btn btn-primary btn-large' %>
			</p>
			<p>
				I'm also currently working on an enthusiast marketplace for hot-rodders and gearheads called <%= link_to 'StanceTrader', 'https://stancetrader.com' %>
			</p>
	</div>
<% end %>
